<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
    </head>
    <body>
        <header class="navbar bg-primary text-bg-primary p-3 justify-content-center">
            <span class="navbar-brand">
                <h1 class="text-bg-primary display-1">{{pico_id}}</h1>
                <div class="text-bg-primary text-center">Connected on <em>{{current_ssid}}</em></div>
            </span>
        </header>
        <main class="container g-3 mt-3">