    <!-- ### CURRENT DATA ### -->
           <div class="row pt-3 pb-3 mb-3 text-bg-light text-center">
            <h2>Current data</h2>
        </div>
        <div class="row g-3 pt-3 mb-3 table-responsive">
            <table class="table">
            <!-- # TEMP # -->
                <thead>
                    <tr>
                        <td class="col-4">
                            Temperature
                        </td class="col-4">
                <!-- # PRESSURE # -->
                        <td class="col-4">
                            Pressure
                        </td>
                <!-- # HUMIDITY # -->
                        <td class="col-4">
                            Humidity
                        </td>
                    </tr>
                </thead>
                <!-- # READINGS # -->
                <tbody>
                    <tr>
                        <td>{{temp}}</td><td>{{pressure}}</td><td>{{humidity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- CURRENT DATA END -->
